{% extends 'base.html' %}
{% block content %}
<h1>EMPLOYEE LIST</h1>
<a href="{% url 'createEmployeeWithForm'%}">CREATE EMPLOYEE</a>
<a href ="{% url 'filterEmployee' %}">FILTER</a>
<a href="?order=asc">Age Ascending</a>
<a href="?order=desc">Age Descending</a>    
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Join Date</th>
            <th>Post</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees  %}
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.join_date}}</td>
            <td>{{emp.post}}</td>
            <td>
                {% comment %} <a href="{% url 'deleteEmployee' %}">DELETE</a> {% endcomment %}
                 <a href = "{% url 'deleteEmployee' emp.id %}">DELETE</a>
                 <a href="{% url 'updateEmployee' emp.id %}">update</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}